@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
embed,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
caption,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
source {
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    border: 0;
    background: transparent;
    padding: 0;
    font-size: 100%;
}

body {
    overflow-x: hidden;
}



/* ローディング画面 */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgb(0, 0, 0);

    /* 以下のコードを追加 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
/*ローディング終了*/



/* メニューバー */
.menubar {
    position: fixed;
    z-index: 10;
    width: 7%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.332);
}

.menubar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.menubar li {
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: opa1;
    animation-delay: 1S;
    animation-duration: 1S;
    animation-fill-mode: both;
}

.menubar li a {

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 5vw;
    color: #fff;
}



/* メイン */
main {
    margin-left: 7%;
    /* overflow-x: hidden; */
    width: auto;
    height: 100vh;
}

/* バックグラウンド */
.background {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}



/* トップ */
#top {
    overflow: hidden;
}

.title {
    width: 100%;
}

.slogan {
    font-size: 9vw;
    text-align: center;
    color: red;
    z-index: 10;
    white-space: nowrap;
    width: 100%;
}

.slogan span {
    display: inline-block;
}

.name {
    font-size: 7vw;
    text-align: center;
    color: white;
    z-index: 10;
    white-space: nowrap;
    width: 100%;
}

.slide {
    position: absolute;
    z-index: -3;
    animation: anime 36s 0s infinite;
}

.slide:nth-of-type(2) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.slide:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}

.slide:nth-of-type(4) {
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
}

.slide:nth-of-type(5) {
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}

.slide:nth-of-type(6) {
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}

@keyframes anime {
    0% {
        opacity: 0;
        z-index: -2;
    }

    8% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
        transform: scale(1.2);
        z-index: -1;
    }

    100% {
        opacity: 0
    }
}


/* アバウト */
#about main {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}



/* ライブ */
#live main {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}



/* メンバー */
#members main {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* カード */
.card_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.l-wrapper_02 {
    width: 80vw;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-radius_02 {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.card_02 {
    background-color: #fff;
    box-shadow: 0 0 0px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
}

.card__header_02 {
    display: flex;
    flex-wrap: wrap;
}

.card__title_02 {
    padding: 1rem 1.5rem 0;
    font-size: 1.6rem;
    order: 1;
    font-weight: bold;
    text-decoration: none;
    /*線の種類（実線） 太さ 色*/
    border-bottom: solid 3px black;

}

.card__thumbnail_02 {
    margin: 0;
    order: 0;
}

.card__image_02 {
    width: 100%;
}

.card__body_02 {
    padding: 0 1.5rem;
}

.card__text_02 {
    font-size: .8rem;
    text-align: center;
    text-decoration: none;
}

.card__text2_02 {
    font-size: .8rem;
    margin-top: 0;
    padding-bottom: 1.5rem;
    /* margin-bottom: 1.5rem; */
}

#live {
    background-image: url("../img/IMG_5265.jpeg");
}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 767px) {}